{% extends 'base.html' %}

{% block title %}Crear Producto{% endblock %}

{% block content %}
    <h1>Crear Producto</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">Nombre:</label>
        <input type="text" id="id_name" name="name">

        <label for="id_description">Descripción:</label>
        <textarea id="id_description" name="description"></textarea>

        <label for="id_image">Imagen:</label>
        <input type="file" id="id_image" name="image">

        <label for="id_category">Categoría:</label>
        <select id="id_category" name="category">
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
{% endblock %}
