{% extends 'base.html' %}

{% block title %}CATALOGO DE PRODUCTOS{% endblock %}

{% block content %}
    <h1>CATALOGO DE PRODUCTOS</h1>
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="GET" action="{% url 'buscar_productos' %}">
        <input type="text" name="buscar_producto" placeholder="Buscar productos..." value="{{ query|default:'' }}">
        <button type="submit">Buscar</button>
    </form>
    <div>
        <h2>Categorías</h2>
        <ul>
            {% for categoria in categorias %}
                <li><a href="{% url 'productos_por_categoria' categoria.id %}">{{ categoria.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'crear_producto' %}" class="btn btn-success">Crear Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.description }}</td>
                    <td><img src="{{ producto.image.url }}" alt="{{ producto.name }}" width="100"></td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}">Editar</a>
                        <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}